#content {
    margin: 0 auto;
}
#context {
    margin: 0 auto;
}
input
{
    display: block;
    margin: 0 auto;
    font-size: 24px;
}
ul {
    width: 70%;
    margin: auto;
}

#divblock {
    position:absolute;
    left: 50%;
    text-align: center;
    padding: 0px;
    overflow: hidden;
    display:none;
}

#overlay{
    position:absolute;
    display:none;
    background:#000;
    opacity:.8;
    filter:alpha(opacity=80);
    left:0;
    top:0;
}
