#content {
    width: 200px;
    padding: 20px 50% 9 25%;
    float: left;
}
#context {
    width: 700px;
    padding: 5px;
    float: left;
    position: relative;
    top: 40px;
    left: -70px;
}
input
{
     font-size:24px;
}
